[submodule "js/synced/jstools"]
	path = js/synced/jstools
	url = https://github.com/moojor224/jstools
[submodule "python/pytools"]
	path = python/pytools
	url = https://github.com/moojor224/pytools.git
