.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 12px;
    text-align: center;
}

.tree,
.tree ul {
    display: table;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding: 6px 0;
    vertical-align: top;
}

/* _________ */
.tree li:before {
    /* horizontal lines */
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree code,
.tree span {
    /* node borders */
    border: solid 1px #666;
    border-radius: 4px;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
}

/* If the tree represents DOM structure */
/* .tree code {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
} */

/* | */
.tree ul:before,
.tree code:before,
.tree span:before {
    /* vertical lines */
    outline: solid 1px #666;
    content: "";
    height: 6px;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -6px;
}

.tree code:before,
.tree span:before {
    top: -6.5px;
}

/* The root node doesn't connect upwards */
.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>span:before {
    outline: none;
}