/*
extensions:

aaron-bond.better-comments
be5invis.vscode-custom-css
*/
/*
! test
TODO: test
* test
? test
// test
*/



/* comments  */

/* //  */

div.view-line .ced-1-TextEditorDecorationType3-1 {
    font-style: normal !important;
    position: relative;
    color: #414e58 !important;
    border: 1px solid #414e58;
    padding-right: 10px;
}

/* // strikethrough   */

div.view-line .ced-1-TextEditorDecorationType4-1 {
    font-style: normal !important;
    position: relative;
    color: #080c13 !important;
    background-color: #414e58;
    border: 1px solid #414e58;
    padding-right: 10px;
}

/* //=  */

div.view-line .ced-1-TextEditorDecorationType5-1 {
    font-style: normal !important;
    position: relative;
    color: #414e58 !important;
}

div.view-line .ced-1-TextEditorDecorationType5-1:last-child::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 175px;
    background-color: #414e58;
    top: 50%;
    right: -175px;
    transform: translate(10px, -50%);
}

/* ! grayed out  */

div.view-line .ced-1-TextEditorDecorationType9-1 {
    font-style: normal !important;
    position: relative;
    color: #414e58 !important;
}

div.view-line .ced-1-TextEditorDecorationType9-1:last-child::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 75px;
    background-color: #414e58;
    top: 50%;
    right: -75px;
    transform: translate(10px, -50%);
}



/* ? question  */

div.view-line .ced-1-TextEditorDecorationType10-1 {
    font-style: normal !important;
    position: relative;
    color: #dedede !important;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background: linear-gradient(to right, #00f26199, #0576e6a2);
    color: transparent;
}



/* // strikethrough   */

div.view-line:has(.ced-1-TextEditorDecorationType11-1) {
    overflow: hidden;
}

div.view-line .ced-1-TextEditorDecorationType11-1 {
    font-style: normal !important;
    position: relative;
    color: #e76d3a !important;
    background-color: #25282f;
    border: 1px solid #25282f;
    padding-right: 10px;
    /* border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; */

}

div.view-line .ced-1-TextEditorDecorationType11-1:last-child::after {
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    width: 8px;
    background-color: #e76d3a;
    top: 50%;
    right: -6px;
    transform: translate(0, -50%);


}



/* TODO comment  */

div.view-line .ced-1-TextEditorDecorationType12-1 {
    font-style: normal !important;
    position: relative;
    color: #ba2c5c !important;
    background-color: #25282f;
    border: 1px solid #25282f;
    padding-right: 10px;
    border-radius: 30px;
}
